/ex_starts/ch03_ex4_TestScore/build/
/ex_starts/ch04_ex1_FutureValue/build/
/ex_starts/ch04_ex2_Invoice/build/
/ex_starts/ch04_ex3_TestScore/build/
/ex_starts/ch05_ex1_Invoice/build/
/ex_starts/ch05_ex2_TestScore/build/
/book_apps/ch05_FutureValueValidation/build/
/book_apps/lubowskiinheritence/nbproject/private/
/book_apps/bank/nbproject/private/
/book_apps/bank/build/